.App {
  text-align: center;
}

.App-header {
  background-color: #15191f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 60%;
}

input,
button {
  background-color: #20232a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: large;
  text-wrap: wrap;
  max-width: 10rem;
}

button:hover {
  background-color: #e8e6e3;
}

button:active {
  background-color: #14141b;
}

.tracklists {
  min-height: 200px;
  width: 50%;
  background-color: #282c34;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

.tracklists h2 {
  text-wrap: wrap;
}

.tracklists input {
  width: 75%;
}

@media screen and (max-width: 1024px) {
  .flex {
    width: 95%;
  }
}
