.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

input,
button {
  background-color: #20232a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: large;
}

button:hover {
  background-color: #e8e6e3;
}

button:active {
  background-color: #14141b;
}
