.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: -20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #20232a;
    text-align: left;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: larger;
    padding: 0;
}

.container h4 {
    margin-bottom: -10px;
}