.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 16, 80);
    padding: 0 15px;
    margin-bottom: 10px;
}

.container button {
    height: 30px;
    width: 50px;
}

.container h4 {
    margin-bottom: -10px;
}