.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: -20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #20232a;
    text-align: left;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 3rem;
    font-size: larger;
    padding: 1rem;
}

.container h4 {
    margin-bottom: -10px;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .container button {
        margin-top: -0.5rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    #album {
        display: none;
    }
}